.color1{
    background-color:brown;
}
.color2{
    background-color: coral;
}
.color3{
    background-color: blue;
}
.p{
    margin-left: 20px;

    width: 200px;
    height: 200px;
}
.container{
    display: flex;
}